$primary: #7e00b0;
$primary-overlay: rgba(0,0,0,0.4);
$primary-overlay-yt: rgba(0,0,0,0.8);
$primary-overlay-test: rgba(0,0,0,0.5);

html, body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    position:relative;
  }
  .background-color{
      background: black;
  }

body{
    font-family: helvetica ;
    font-weight: 400;
    border:0;

}
nav { border-bottom: none !important; }
footer { border-top: none !important; }
.navbar{
    box-shadow: 1px 1px 3px $primary;
    background: black;
    opacity: 0.9;

    .nav-item{
        font-size: 1.2rem;
    }
    .nav-item:hover .nav-link {
        color:$primary;
        transition: 0.5s;
   
    }

}
#headerimg{
   position:relative; 
    background:url(../img/header.jpg) center no-repeat;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size:cover;
    border:0;
    .primary-overlay{
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        .container{
            height: 90%;

            p{
                font-size: 1rem;
                
                
            }
        }

        h2{
            font-size: 8rem;
            text-shadow: 5px 5px 20px #000000;
            font-weight: bold;
            
        }
        @media only screen and (max-width: 530px) {
            h2{
                font-size: 6rem;


                
            }
      .height-adjust{
          height: 55% !important;
      }
        }
        @media only screen and (max-width: 420px) {
            h2{
                font-size: 5rem;
                

                
            }
            .height-adjust{
                height: 65% !important;
            }
            
        }
        @media only screen and (max-width: 350px) {
            h2{
                font-size: 4rem;

                
            }
            .height-adjust{
                height: 75% !important;
            }
        }

        .btn{
            color: white;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

 
}

@media only screen and (min-width: 1920px) {
    #headerimg{
       min-height:1340px;

       .primary-overlay{
           h2{
               margin-top: 3rem;
               font-size: 10rem;
           }
           .container{
               p{
                   font-size: 1.4rem;  
               }
               height: 85%;
           }

       }
     }
}
#about{
    .container{

        .col{
            p{
                letter-spacing: 0.12em;
                font-size: 1.1em;
            }
        }

    }
    .border-bottom{
      box-shadow: 0px 4px 5px #fff;  
    }
  
}
.text-shadow{
    text-shadow: 0px 0px 5px #fff;
}
#backgroundImage{
    position:relative;
    background-image: url(../img/youtube_section.jpg) ;
    min-height: 220px;
    background-size: cover;
    background-attachment:fixed;
    
    .primary-overlay{
        background: $primary-overlay-yt;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.modal-dialog{

top: 20%;

}
.modal-body{
    background:black;
}
@media only screen and (min-width: 1920px){
.container {
    max-width: 1500px;
}
}
#art{
    .container{
        a{
            i{
                color: #7e00b0;
            }
            i:hover{
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
    }
}
.testimonials-bg{
    background:url(../img/testimonial_background.jpg) center no-repeat;
    min-height: 500px;
    background-size:cover;
    position:relative;
  

    .primary-overlay{
        background: $primary-overlay-test;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
.blockquote{
    p{
        font-size: 0.7em;
        line-height: 2em;
        
        
    }
    footer{
        font-size: 0.6em;
        cite{
            a{
                text-decoration:none;
                color:white;
            }
            a:hover{
                color: $primary;
                transition: 0.3s;
            }
        }
        
        
    }
}
#art{
    cite{
        font-size: 0.8em;
    }
}
@media (max-width: 768px) {
  #Contact {
            .footerorder{
                text-align:center;
            }
     } 
  }
  @media (min-width: 768px) {
    #Contact {
              .footerorder{
                  display:flex;
                  justify-content: space-between;
              }
       } 
    }
footer {
    a{
        color:black;
        font-size: 0.8em;
        text-decoration:none;
    }
    a:hover{
        color:$primary;
        transition: 0.1s;
        text-decoration:none;
    }
    h3{
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px 2px #000000;
    }
}
#Contact{
    h3{
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.2em;
         text-shadow: 1px 1px 2px #000000;
    }
    a{
        color:black;
        font-size: 0.9em;
        
        text-decoration:none;
    }
    a:hover{
        color:$primary;
        transition: 0.1s;
        text-decoration:none;
    }
}
.strong{
    font-weight: bold;
    font-size: 0.9em;
}
.test{
    height: auto;
    width:100%;
}